* {
    outline: none;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*===headerBar===========================*/
.header .headerBar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 65%;
    background-color: #757675;
    color: black;
    font-size: 90%;
}
.header .headerBar p{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 20px;
}
.header .headerBar p:nth-child(2){
    margin-right: 0;
}
.header .headerBar p:nth-child(3){
    color: #C7DA2C;
}
.header .headerBar p:nth-child(4){
    color: #898989;
}
/*===headerBody===========================*/
.header .headerBody{
    display: flex;
    width: 65%;
    justify-content: space-between;
    background-color: #414040;
    color: black;
    font-size: 80%;
}
.header .headerBody img{
    width: 120px;
    height: 120px;
    margin: 20px 0 20px 60px;
}
.header .headerBody .HBboxBody{
    display: flex;
    margin-top: 10px;
}
.header .headerBody .HBboxBody p{
    margin: 0;
}
.header .headerBody .HBboxBody .HBbox1Body{
    display: flex;
    align-items: center;
    height: 35%;
}
.header .headerBody .HBboxBody .HBbox1Body p{
    margin: -11px 0 0 12px;
}
.header .headerBody .HBboxBody .HBbox1Body img{
    width: 23px;
    height: 35px;
}
.header .headerBody .HBboxBody .HBbox2Body{
    display: flex;
    align-items: center;
    height: 35%;
    margin-right: 50px;
    margin-left: -20px;
}
.header .headerBody .HBboxBody .HBbox2Body .HBboxtxt p{
    margin-left: 10px;
}
.header .headerBody .HBboxBody .HBbox2Body .HBboxtxt p:nth-child(2){
    font-size: 70%;
}
.header .headerBody .HBboxBody .HBbox2Body img{
    width: 40px;
    height: 40px;
}
.header .headerBody .HBboxBody .HBbox2Body .HBboxtxt{
    display: flex;
    flex-direction: column;
}
/*===headerFooter===========================*/
.header .headerFooter{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: url(img/bg_headerFooter.png) top right;
    background-size: 75% 66px;
    background-repeat: no-repeat;
    width: 65%;
    height: 66px;
    margin-top: -66px;
}
.header .headerFooter a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
    font-size: 130%;
}
.header .headerFooter button{
    background-color: #C7DA2C;
    width: 66px;
    height: 66px;
    outline: none;
    border: none;
    margin-right: 40px;
}
/*===profile===========================*/
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/bg.png) top center;
    background-size: 65.05% 450px;
    background-repeat: no-repeat;
    padding-top: 20px;
    height: 450px;
}
.profile .profileFoto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20%;
}
.profile .profileFoto img{
    border-radius: 50%;
}
.profile .profileFoto .profileButtons button{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 30px;
}
.profile .profileFoto .profileButtons button:hover{
    background-color: #C7DA2C;
}
.profile .profileCoach{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.profile .profileCoach p{
    margin: 0;
}
.profile .profileCoach .p1{
    font-size: 250%;
    color: #C7DA2C;
    font-weight: 400;
    margin-bottom: -10px;
}
.profile .profileCoach .p2{
    font-size: 250%;
    color: black;
    font-weight: 400;
}
.profile .profileCoach .profileCoachTxt{
    display: flex;
    flex-direction: column;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt1{
    display: flex;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt1 .profileCoachTxtbox1{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt1 .profileCoachTxtbox2{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2{
    display: flex;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2 .profileCoachTxtbox3{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2 .profileCoachTxtbox4{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .profileCoachTxt .profileCoachTxt2 .profileCoachTxtbox5{
    display: flex;
    flex-direction: column;
    margin: 15px 20px 0 0;;
}
.profile .profileCoach .progress{
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100px;
}
.profile .profileCoach .progress .progress1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.profile .profileCoach .progress .progress1 .progressCircle1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #C7DA2C;
}
.profile .profileCoach .progress .progress2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.profile .profileCoach .progress .progress2 .progressCircle2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #C7DA2C;
}
.profile .profileCoach .progress .progress3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.profile .profileCoach .progress .progress3 .progressCircle3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #C7DA2C;
}
.profile .profileMap{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
.profile .profileMap .profileMapInfo{
    display: flex;
    margin-right: -190px;
    margin-top: -70px;
    margin-bottom: 70px;
}
.profile .profileMap .profileMapInfo button{
    padding: 0 10px 0 10px;
    margin-left: 10px;
    border: none;
    background-color: #C7DA2C;
}
.profile .profileMap .profileMapInfo .iconinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    color: white;
}
/*===abas===========================*/
.abas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.abas .nav-link{
    display: flex;
    border-radius: 0% !important;
    background-color: #858181;
    color: black;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 120%;
}
.abas .ulwidth{
    width: 65%;
}
.abas .ulwidth .liwidth{
    width: 33.3%;
}
.abas .ulwidth #liwidth{
    width: 33.4%;
}
.abas>ul>li>a.active {
    background-color: #C7DA2C !important;
    color: black !important;
}
.abas .requestButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C7DA2C;
    color: black;
    font-size: 150%;
    font-weight: 400;
    border: none;
    padding: 1px 180px 1px 180px;
    margin: 14px 0 14px 0;
}
.shortList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shortListBody{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 95%;
    border-radius: 0.5rem;
    margin-bottom: 60px;
}
.shortListBody .shortListBody1{
    display: flex;
    align-items: center;
    width: 100%;
}
.shortListBody .shortListBody1 img{
    border-top-left-radius: 0.5rem;
    margin-right: 10px;
}
.shortListBody .shortListBody1 .shortListBody1box1{
    display: flex;
    flex-direction: column;
}
.shortListBody .shortListBody1 .shortListBody1box1 .p01{
    color: #858181;
    margin-bottom: -10px;
    margin-left: 60px;
    font-size: 80%;
}
.shortListBody .shortListBody1 .shortListBody1box1 .shortListBody1box1_1{
    display: flex;
}
.shortListBody .shortListBody1 .shortListBody1box1 .shortListBody1box1_1 p:nth-child(1){
    color:#C7DA2C;
    font-size: 160%;
    margin: 0 10px 0 10px;
}
.shortListBody .shortListBody1 .shortListBody1box1 .shortListBody1box1_1 p:nth-child(2){
    color:#000;
    font-size: 160%;
    margin-right: 10px;
}
.shortListBody .shortListBody1 .shortListBody1box1 .shortListBody1box1_1 button{
    border: none;
    background-color: #bbb6b6;
    color: #000;
    padding: 0px 4px 0px 4px !important;
    font-size: 80%;
    height: 20px;
    margin-top: 10px;
    border-radius: 0.2rem;
    outline: none;
}
.p02{
    color: #858181;
    margin-left: 60px;
    margin-top: -20px;
    font-size: 80%;
}
.p03{
    color: #000;
    margin-bottom: -2px;
    margin-left: 10px;
}
.progressBar{
    display: flex;
    align-items: center;
    width: 800px;
    margin-left: 10px;
}
.progressBar button{
    width: 90px;
    font-size: 80%;
    border: none;
    border-radius: 0.2rem;
    margin-left: 10px;
    background-color: #bbb6b6;
}
.progressBar .progressBar1{
    width: 40%;
    height: 10px;
    background-color: #C7DA2C;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
.progressBar .progressBar2{
    width: 60%;
    height: 10px;
    background-color: #414040;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.shortListBody1box2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shortListBody1box2 p{
    margin-left: 10px;
    margin-top: 8px;
    font-size: 80%;
    opacity: 0.5;
}
.progressCircle2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #C7DA2C;
    margin-left: 20px;
}


